.card-wrapper {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  background-color: #fef4f2;
  border-radius: 10px;
  margin: 10px;
}

.card-image {
  /* min-height: 400px; */
  flex: 1 1 auto;
  max-height: 70vh;
}

.card-image img {
  width: 100%;
  height: 100%;
  margin: 0;
  border-radius: 20px;
}

.card-content {
  flex: 0 1 auto;
  justify-content: center;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.card-content .tagline {
  font-weight: bolder;
  font-size: small;
  color: #50be77;
  margin-bottom: 0;
}

.card-content .price {
  font-size: small;
  margin-bottom: 0;
}

.card-content .add-to-cart-btn {
  margin: 2px 2px 10px 2px;
  border-radius: 25px;
  color: #50be77;
  background-color: white;
  border: 1px solid green;
  height: 50px;
}

@media only screen and (max-width: 600px) {
  .card-wrapper {
    /* Typical small screen device width */
    width: 95%;
    flex: none;
    max-width: 100%;
    margin-left: 0;
  }
}
