.carousel-wrap {
  width: 80vw;
  margin: auto;
  position: relative;
}
.owl-carousel .owl-nav {
  overflow: hidden;
  height: 0px;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #2caae1;
}

.owl-carousel .item {
  text-align: center;
}
.owl-carousel .nav-btn {
  height: 47px;
  position: absolute;
  width: 26px;
  cursor: pointer;
  top: 40% !important;
}

.owl-carousel .owl-prev.disabled,
.owl-carousel .owl-next.disabled {
  pointer-events: none;
  opacity: 0.2;
}
.owl-carousel .prev-slide {
  background: url(./nav-icon.png) no-repeat scroll 0 0;
  left: -33px;
}
.owl-carousel .next-slide {
  background: url(./nav-icon.png) no-repeat scroll -24px 0px;
  right: -33px;
}
.owl-carousel .prev-slide:hover {
  background-position: 0px -53px;
}
.owl-carousel .next-slide:hover {
  background-position: -24px -53px;
}

span.img-text {
  text-decoration: none;
  outline: none;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  cursor: pointer;
  width: 100%;
  font-size: 23px;
  display: block;
  text-transform: capitalize;
}
span.img-text:hover {
  color: #2caae1;
}

.carousel-card .tagline {
  font-weight: bolder;
  font-size: small;
  color: #50be77;
  margin-bottom: 0;
}

.carousel-card .price {
  font-size: small;
  margin-bottom: 0;
}

.carousel-card .add-to-cart-btn {
  margin: 2px 2px 10px 2px;
  border-radius: 25px;
  color: #50be77;
  background-color: white;
  border: 1px solid green;
  height: 50px;
}

.carousel-card {
  border: 1px solid #50be77;
  border-radius: 25px;
}

.carousel-card img {
  border-radius: 25px 25px 0 0;
}
