.card-slider-wrapper {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
}

@media only screen and (max-width: 600px) {
  /* Typical small screen device width */
  .card-slider-wrapper {
    overflow-x: auto;
    padding: 5px;
  }
}
